@model SportsStore.WebUI.Models.ProductListViewModel

@{
    ViewBag.Title = "Products";
}

@foreach (var p in Model.Products)
{
    <div>
        <h3>Name = @p.Name</h3>
        <h3>Desc = @p.Description</h3>
        <h4>Price = $@p.Price</h4>
        <h4>Category = @p.Category</h4>
        ===============================
    </div>
}

@*Pagination Section*@
<div class="pagination">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("List", new { page = x }))
</div>

