@using SportsStore.Domain.Entities
@model IEnumerable<Product>

@{
    ViewBag.Title = "List";
}

@foreach(var p in Model) 
{
    <div>
        <h3>Name = @p.Name</h3>
        <h3>Desc = @p.Description</h3>
        <h4>Price = $@p.Price</h4>
        <h4>Category = @p.Category</h4>
        ===============================
    </div>
}

